#home {
  padding top:5 rem;
  scroll-margin-top:80px;
}
#about {
  scroll-margin-top:80px;
}
#galery {
  scroll-margin-top:80px;
}
#galery.card-img-top {
  height:250px;
  object-fit:cover;
}
#skill {
  scroll-margin-top.80px
}
.skill-box {
  border:2px solid #000000;
  border-radius:20px;
  padding:3rem;
}
.softskill {
  padding-botom:2rem;
}
#contact {
  scroll-margin-top:80px;
}
html {
  scroll-behavior:smooth;
}
footer {
  background-color: pink;
}